.error-message {
    color: #d32f2f; /* Vermelho de erro */
    background-color: #ffcdd2; /* Fundo vermelho claro */
    border: 1px solid #d32f2f;
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 20px;
    text-align: center;
}

.success-message {
    color: #2e7d32; /* Verde de sucesso */
    background-color: #c8e6c9; /* Fundo verde claro */
    border: 1px solid #2e7d32;
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 20px;
    text-align: center;
}